*{
    margin:0;
    padding: 0;
}

.navbar.navbar-default{
    height:56px;
    background:#2874f0;
}

.form-inline {
    margin-left: 304px;
}

.custom-btn{
    max-width: 100%;
    padding: 6px 25px;
}

#inputdefault{
    width: 560px;
    margin-left: 260px;
}
.fa{
    margin-bottom: 100px;